body {
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
  }
  
  #chart, #header, #footer {
    position: absolute;
    top: 0;
  }
  
  #header, #footer {
    z-index: 1;
    display: block;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
  }
  
  #header.inverted, #footer.inverted {
    color: #fff;
    text-shadow: 0 1px 4px #000;
  }
  
  #header {
    top: 80px;
    left: 140px;
    width: 1000px;
  }
  
  #footer {
    top: 680px;
    right: 140px;
    text-align: right;
  }
  
  rect {
    fill: none;
    pointer-events: all;
  }
  
  pre {
    font-size: 18px;
  }
  
  line {
    stroke: #000;
    stroke-width: 1.5px;
  }
  
  .string, .regexp {
    color: #f39;
  }
  
  .keyword {
    color: #00c;
  }
  
  .comment {
    color: #777;
    font-style: oblique;
  }
  
  .number {
    color: #369;
  }
  
  .class, .special {
    color: #1181B8;
  }
  
  a:link, a:visited {
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: #666;
  }
  
  .hint {
    position: absolute;
    right: 0;
    width: 1280px;
    font-size: 12px;
    color: #999;
  }
  

.chart {
    display: block;
    margin: auto;
    margin-top: 40px;
    user-select: none;
}
  
text {
    font-size: 15px;
}
  
rect {
    fill: none;
    pointer-events: all;
}
  
#tooltip {
    position: absolute;
    background-color: yellow;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    pointer-events: none;
}

/*Primary Chart*/

/*Nested divs for responsiveness*/
.chart-wrapper {
  max-width: 800px;  /*Overwritten by the JS*/
  min-width: 304px;
  margin-bottom: 8px;
  background-color: #FAF7F7;
}
.chart-wrapper .inner-wrapper {
  position: relative;
  padding-bottom: 50%; /*Overwritten by the JS*/
  width: 100%;
}
.chart-wrapper .outer-box {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.chart-wrapper .inner-box {
  width: 100%;
  height: 100%;
}

.chart-wrapper text {
font-family: sans-serif;
font-size: 13px;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
  fill: none;
  stroke: #888;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.chart-wrapper .y.axis .tick line {
  stroke: lightgrey;
  opacity: 0.6;
  stroke-dasharray: 2,1;
  stroke-width: 1;
  shape-rendering: crispEdges;

}

.chart-wrapper .x.axis .domain {
display: none;
}

.chart-wrapper div.tooltip {
  position: absolute;
  text-align: left;
  padding: 3px;
  font: 11px sans-serif;
  background: lightcyan;
  border: 0px;
  border-radius: 1px;
  pointer-events: none;
  opacity: 0.7;
}

/*Box Plot*/
.chart-wrapper .box-plot line {
  stroke-width: 2px;
}
.chart-wrapper .box-plot circle {
  fill: white;
  stroke: black;
}

.chart-wrapper .box-plot .median {
  stroke: black;
}

.chart-wrapper .box-plot circle.median {
  /*the script makes the circles the same color as the box, you can override this in the js*/
  fill: white !important;
}

.chart-wrapper .box-plot .mean {
  stroke: white;
  stroke-dasharray: 2,1;
  stroke-width: 1px;
}

@media (max-width:500px){
  .chart-wrapper .box-plot circle {display: none;}
}

/*Violin Plot*/

.chart-wrapper .violin-plot .area {
  shape-rendering: geometricPrecision;
  opacity: 0.4;
}

.chart-wrapper .violin-plot .line {
  fill: none;
  stroke-width: 1px;
  shape-rendering: geometricPrecision;
}


/* Non-Chart Styles for demo*/
.chart-options  {
  min-width: 200px;
  font-size: 13px;
  font-family: sans-serif;
}
.chart-options button {
  margin: 3px;
  padding: 3px;
  font-size: 12px;
}
.chart-options p {
  display: inline;
}
@media (max-width:500px){
  .chart-options p {display: block;}
}